.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #c5c7c5;
    border: 1px solid #3a3d3c;
    color: #0d0101;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #141514;
    color: #fff;
}

input[type="reset"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #c5c7c5;
    border: 1px solid #3a3d3c;
    color: #0d0101;
    padding: 10px 20px;
}

input[type="reset"]:hover {
    background: #141514;
    color: #fff;
}
.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

p,sup {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

footer {
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.list-unstyled li a {
    list-style-type: none;
    text-decoration: none;
    color: wheat;
}

.list-unstyled li a:hover {
    color: brown;
}